API_ID = "0"
API_HASH = ""
SESSION_STRING = ""

LOG_CHAT = ""

#Database URL, 
MONGO_DB = ""

#Cmd Trigger
CMD_TRIGGER = "."

# bot token
BOT_TOKEN = ""

#Sudo access
SUDO_TRIGGER = "!"
##Multiple ids seperated by space
SUDO_USERS = ""